@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #ffffff;
    color: #242424;
}

.page-header {
    background-color: #ffffff;
    color: #000000;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-link {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-item {
    display: inline-block;
    margin-right: 34px;
    margin-top: 20px;
    margin-bottom: 19px;
}

.navigation-link-current {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    text-decoration: underline;
}

.page-header {
    background-image: url("../images/index/index-background.jpg");
    background-color: blue;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-clip: polygon(0 0, 100% 13%, 100% 84%, 0% 100%);
    text-align: center;
}

.slogan {
    margin-top: 63px; 
    margin-bottom: 90px;
}

.slogan h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 63px 290px 0px 290px;
    padding-bottom: 31px;
}

.slogan p {
    line-height: 26px;
    font-size: 22px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none; 
    margin: 0px 273px 90px 273px;
}

.advantages-title {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;   
    flex-direction: column; 
    text-align: center;
    margin-top: 92px;
    margin-left: 85px;
    margin-right: 85px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.advantages-title-privilege {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;   
    flex-direction: column; 
    text-align: center;
    margin-top: 0;
    margin-left: 85px;
    margin-right: 85px;
    padding-bottom: 30px;
    margin-bottom: 0;   
}

.advantages-subtitle-privilege {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    flex-direction: column; 
    margin-top: 0;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 81px;
    text-align: center;    
}

.advantages-icon {
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 30px;
    margin-left: 161px;
    margin-right: 161px;
    text-align: center;
}

.advantages-subtitle {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    flex-direction: column; 
    margin-top: 0;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 92px;
    text-align: center;    
}

.enumeration {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 85px;
    margin-right: 85px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 0;
}

.blue {
    background-color: #82B3D3;
    color: #ffffff;
}

.blue12 {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000; 
}

.blue20 {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000; 
}

.more {
     text-align: center;
}

.more h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 91px;
    margin-left: 452px;
    margin-right: 451px;
    margin-bottom: 0;
    padding-bottom: 29px;
}

.more p {
    line-height: 26px;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    text-decoration: none;   
    margin-top: 0px;
    margin-left: 304px;
    margin-right: 304px;
    margin-bottom: 0;
    padding-bottom: 56px;
}

.button-more {
    background-color: #756157;
    text-align: center;  
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;    
    text-transform: uppercase; 
    display: block;
    margin-top: 0px;
    margin-left: 313px;
    margin-right: 313px;
    margin-bottom: 93px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 15px;
}

.inner-header-title {
    line-height: 78px;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 10px 70px;
}

.breadcrumbs-link-current {
    line-height: 21px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;   
}

.catalog-filter-title {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;  
    text-transform: capitalize;  
}    

.catalog-filter-list {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
}

.catalog-filter-item {
    padding-bottom: 15px;
}

.control {
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;    
}

.find-hotel {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color:#000000;
    text-align: center;
    margin-right: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

.button-mode {
    display: flex;
    justify-content: center;
    margin-right: 8px;
}

.button-mode.last {
    margin: 0;
}

.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    max-width: 290px;
    max-height: 50px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 97px;
    margin-right: 78px;
}

.product-card {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.product-card-image {
    margin: 20px 20px 16px 20px;
}

.product-card-link {
    margin: 0;
    padding: 0;
}

.price-wrapper {
    margin: 0 20px 16px 20px;
    display: flex;
    justify-content: center;
}

.more-favorites-wrapper {
    margin: 0 20px 16px 20px;
    display: flex;
    justify-content: space-between;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    margin: 0 20px 16px 20px;
}

.product-card-subtitle {
    margin: 0 20px 0px 0;
}

.product-card-subtitle, 
.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    min-width: 140px;
}

.product-card-button.more {
    background-color: #756157;
    text-align: center;  
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;
    text-transform: uppercase; 
}

.padination-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 25px 0;
}

.padination {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.product-card-button.favorites {
    background-color: #82B3D3;
    text-align: center;  
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;   
    text-transform: uppercase;     
}

.top-wrapper {
    margin: 0 20px 16px 20px;
    display: flex;
    justify-content: space-between;
}

.top-ring-title {
    margin-right: 6px;
}

.product-card-button {
 margin: 0 20px 0 0;
 padding: 9px 15px 8px 15px;
}

.product-card-button.favorites.current {
    background-color: #7DB54F; 
}

.top-ring {
    display: flex;
    justify-content: center;
    padding: 10px 50px 10px 0;
    margin-right: 20px;
    list-style: none;
}

.top {
    background-color: #F2F2F2;
    text-align: center;  
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    border-radius:4px;     
    text-transform: uppercase;     
    padding: 9px 15px 8px 15px;
    margin: 0;
}

.catalog-products  {
    margin: 50px 70px 25px 70px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 86px;
    margin-top: 0;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-link {
    background-color: #82B3D3;
    color: #ffffff;
    text-align: center;  
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    border-radius:4px;
    text-transform: uppercase;  
    padding: 11px 24px 12px 23px; 
} 

.pagination-link.pagination-current {
    background-color: #F2F2F2;  
    color: #000000;  
}

.pagination {
    display: flex;
    margin-right: 270px;
    padding-left: 0;
    list-style: none;
}

.number-wrapper {
    display: flex;
}

.select-pages {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    padding: 12px 90px 12px 20px;
    margin: 0;
}

.number-of-hotels {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 19px 51px 17px 0;
}

.aside-footer {
    background-color: #ffffff;
    text-align: center;  
    color:#000000; 
    text-decoration: none;     
    padding-top: 94px;
    padding-bottom: 94px;
}

.aside-footer.background-footer {
    background-image: url("../images/footer/background-footer.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;   
    color: #ffffff;
}

.aside-footer h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 398px;
    margin-right: 389px;
    margin-bottom: 0;
    padding-bottom: 29px;
}

.aside-footer p {
    line-height: 26px;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;    
    margin-top: 0;
    margin-left: 363px;
    margin-right: 362px;
    padding-bottom: 46px;
    margin-bottom: 0;
}

.submit-follow {
    background-color: #82B3D3;
    text-align: center;  
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius:0 10px 10px 0;    
    min-width: 200px;
}

.mail-follow {
    background-color: #F2F2F2;
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    border-radius:10px 0px 0px 10px;   
    min-width: 600px;
}

.page-footer {
    display: flex;
    justify-content: space-between;
}

.phone {
    line-height: 40px;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
}

.inner-header {
    background-image: url("../images/cataloge/background-cataloge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: polygon(0 0, 100% 13%, 100% 84%, 0% 100%);  
    padding-top: 35px;
    padding-bottom: 70px;
}

.main-inner {
    margin: 0 auto;
}

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-list {
    max-width: 490px;
    display: flex;
    flex-wrap: wrap;

}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
}

.head-container {
    display: flex;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

.page-container {
    margin: 0 auto;
}

.advantages {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.advantages-item {
    display: flex;
    justify-content: space-between;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 85px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: inline-block;
    padding-right: 27px;
}

.photo {
    display: flex;
    justify-content: space-between;   
}

.footer-social {
    display: flex;
    justify-content: center;
}

.logo-welcome {
    padding-top: 51px;
}

.gorgeous {
    padding-top: 11px;
    padding-bottom: 63px;
}

.sedona {
    padding-bottom: 83px;
}

.page-header-logo {
    width: 139px;
    margin-left: 70px;
    margin-right: 30px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0 0 40px 72px;
    padding: 0;
}

.breadcrumbs-wrapper {
    margin-right: 1017px;
    margin-left: 72px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
    margin-bottom: 40px;
}

.breadcrumbs-item {
    padding-right: 10px;
    margin: 0;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-group {
    margin-right: 70px;
    padding: 0;
    border: 0;
}

.find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 56px 0px;
}

.wrapper-breadcrumbs {
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
}

.catalog-filter-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 70px 0px 70px;
}

.wrapper-for-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    height: 384px;
}

.advantages-list {
    margin: 0 auto;
    padding: 0;
}

.follow-form {
    display: flex;
    justify-content: center;
    height: 60px;
}

.catalog-filter-button {
    display: flex;
    flex-direction: column; 
    margin-top: 60px
}

.button-use {
    background-color: #82B3D3;
    text-align: center;  
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:4px;    
    min-width: 160px;
    padding: 14px 15px 15px 15px;
    margin-bottom: 20px;
}

.button-reset {
    background: none;
    border: 0;
    text-align: center;  
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.mode {
    display: flex;
}