@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #E5E5E5;
    color: #242424;
}

.page-header {
    background-color: #ffffff;
    color: #000000;
}
.navigation-header {
    min-height: 65px;
}
.navigation-logo {
    min-width: 139px;
}
.navigation {
    display: flex;
   /* width: 1060px;*/
   margin: 0 auto;
   padding: 0 70px 0 70px;
   background-color: #ffffff;
}

.navigation-link {
    /*font-size: 20px; */
    position: relative;
    padding: 20px 0 20px 0;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}
.navigation-link-user {
    position: relative;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.navigation-link.want {
    display: block;
    color: #ffffff;
    background-color: #756157;
    min-width: 160px;
    border-radius: 4px;
    line-height: 20px;
    padding: 9px 15px 8px 15px;
    text-transform: uppercase;
    margin: 14px 0 14px 20px;
}

.navigation-link.want:focus {
    background-color: #615048;
}


.navigation-item-user {
    position: relative;
 min-height: 65px;
 min-width: 66px;
 padding: 24px 12px 24px 12px;
}
.navigation-item:not(:last-child) {
    margin: 0 34px 0 0;
    display: inline-block;
}
.navigation-link.current {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    text-decoration: underline;
}

.page-header {
    background-image: url("../images/index/index-background.jpg");
    background-color: blue;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-clip: polygon(0 0, 100% 13%, 100% 84%, 0% 100%);
    text-align: center;
}

.slogan {
    margin-top: 63px; 
    margin-bottom: 90px;
}

.slogan h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 63px 290px 0px 290px;
    padding-bottom: 31px;
}

.slogan p {
    line-height: 26px;
    font-size: 22px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none; 
    margin: 0px 273px 90px 273px;
}

.advantages-title {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;   
    flex-direction: column; 
    text-align: center;
    margin-top: 92px;
    margin-left: 85px;
    margin-right: 85px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.advantages-title-privilege {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;   
    flex-direction: column; 
    text-align: center;
    margin-top: 0;
    margin-left: 85px;
    margin-right: 85px;
    padding-bottom: 30px;
    margin-bottom: 0;   
}

.advantages-subtitle-privilege {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    flex-direction: column; 
    margin-top: 0;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 81px;
    text-align: center;    
}

.social-icon {
    fill: #83B3D3; 
}

.social-icon:hover {
    fill: #68A2CA;
}

.social-icon:focus {
    fill: #68A2CA;
}

.social-icon:active {
    fill: rgba(104, 162, 202, 0.3);
}

.advantages-subtitle {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    flex-direction: column; 
    margin-top: 0;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 92px;
    text-align: center;    
}

.enumeration {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 85px;
    margin-right: 85px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 0;
}

.blue {
    background-color: #82B3D3;
    color: #ffffff;
}

.blue12 {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000; 
}

.blue20 {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000; 
}

.more {
     text-align: center;
}
.interesting-more {
    padding-bottom: 93px;
    text-align: center;
}

.interesting-more h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 91px;
    margin-left: 452px;
    margin-right: 451px;
    margin-bottom: 0;
    padding-bottom: 29px;
}

.interesting-more p {
    line-height: 26px;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    text-decoration: none;   
    margin-top: 0px;
    margin-left: 304px;
    margin-right: 304px;
    margin-bottom: 0;
    padding-bottom: 56px;
}

.mode {
    display: flex;
}
/*.icon {
    fill: #000000;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; 
}*/
.button-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E5E5E5;
    border-radius: 4px; 
    width: 44px;
    height: 44px;
    margin-right: 8px;
}

.actual-button-mode {
    border: 2px solid #000000;    
}

.button-mode:hover {
    border: 2px solid #000000;     
}

.button-mode:focus {
    border: 2px solid #68A2CA;   
    outline: none;   
}

.button-mode:active {
    border: 2px solid #000000; 
}

.button-mode:last-child {
    margin: 0;
}

.button-more {
    background-color: #756157;
    text-align: center;  
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;    
    text-transform: uppercase; 
    display: block;
    margin-top: 0px;
    margin-left: 313px;
    margin-right: 313px;
    padding-bottom: 93px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 15px;
}

.inner-header-title {
    line-height: 78px;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 10px 70px;
}

.breadcrumbs-link-current {
    line-height: 21px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;   
}

.catalog-filter-title {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;  
    text-transform: capitalize;  
}    

.catalog-filter-list {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
}

.catalog-filter-item {
    padding-bottom: 15px;
}

.control {
    display: block;
    position: relative;
    padding-left: 39px; 
}

.control-mark-host {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 0;
    left: 0;    
}

.control-mark-host:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.control-mark-host:focus {
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid #83B3D3;
}

.control-mark-host:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"]:checked + .control-mark-host::after {
    position: absolute;
    width: 10px; 
    height: 10px;
    background: #3F5E72;
    border-radius: 50%;
    content: "";
    cursor: pointer;
    top: 5px;
    left: 5px;
}

.control-mark {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    top: 0;
    left: 0;
}

.control-mark:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.control-mark:focus {
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid #83B3D3;
}

.control-mark:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.control-label {
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.control-input[type="checkbox"]:checked + .control-mark {
    position: absolute;
    content: "";
    background-image: url("../images/cataloge/checkmark.svg");   
    background-repeat: no-repeat;   
    background-position: center; 
    cursor: pointer;
}

.find-hotel {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color:#000000;
    text-align: center;
    margin:0 190px 0 0;
}

.select-control {
    background-image: url("../images/cataloge/arrow-for-catalog-form.svg");
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: center right 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    min-width: 290px;
    padding: 14px 130px 14px 20px;
    margin-right: 78px;
}

.product-card {
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 20px; 
    flex-grow: 1;
}

.product-card-image-hotel {
    margin-bottom: 16px;
}

.product-card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 16px;
}

.product-card-title {
    margin: 0;
    min-width: 300px;
}

.product-card-subtitle {
    width: 140px;
    margin: 0 20px 16px 0;
}

.product-card-price {
    min-width: 140px;
    margin: 0 0 16px 0;
}

.product-card-subtitle, 
.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
}

.product-card-button.more {
    background-color: #756157;
    text-align: center;  
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;
    text-transform: uppercase; 
    min-width: 140px;
    min-height: 37px;
    margin: 0 20px 16px 0;
    line-height: 37px;
}

.padination-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    margin-right: 0;
    margin: 0 ;
    padding-bottom: 25px;

}

.padination {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.product-card-button.favorites {
    background-color: #82B3D3;
    text-align: center;  
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;   
    text-transform: uppercase;   
    min-width: 140px;
    min-height: 37px;
    margin: 0 0 16px 0;  
    line-height: 37px;
}

.top-ring-title {
    margin-right: 6px;
}

.product-card-button.favorites.current {
    background-color: #7DB54F; 
}

.top-ring {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    margin-right: 20px;
    list-style: none;
    max-width: 120px;
}

.top {
    background-color: #F2F2F2;
    border: none;
    text-align: center;  
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    border-radius:4px; 
    min-width: 140px;
    height: 37px;    
    text-transform: uppercase;     
    margin:0;
    line-height: 37px;
}

.catalog-products  {
    background-color: #ffffff;
    margin: 50px 70px 0px 70px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 18px;
    margin-bottom: 96px;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-link {
    background-color: #82B3D3;
    color: #ffffff;
    text-align: center;  
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    border-radius:4px;
    text-transform: uppercase;  
    min-width: 12px;
    min-height: 36px;
    padding: 12px 24px 12px 24px;
    display: inline-block
} 

.pagination-link.pagination-current {
    background-color: #F2F2F2;  
    color: #000000;  
}

.pagination {
    display: flex;
    margin: 0 270px 0 0;
    padding: 0;
    align-items: center;
    list-style: none;
    min-width: 400px;
}

.select-pages {
    background-image: url("../images/cataloge/arrow-for-catalog-form.svg");
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: center right 21px;
    border: 2px solid #E5E5E5;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin: 5px auto 0 0;
    border-radius: 4px;
    padding: 0 131px 0 17px;
    min-width: 160px;
    height: 49px;
}

.number-of-hotels {
    font-weight: 400;
    font-size: 18px;
    width: 175px;
    height: 22px;
    line-height: 21px;
    color: #333333;
    margin: 20px 51px 17px 0;
}

.aside-footer.background-footer {
    background-image: url("../images/footer/background-footer.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;   
    color: #ffffff;
}

.aside-footer h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 398px;
    margin-right: 389px;
    margin-bottom: 0;
    padding-bottom: 29px;
}

.aside-footer p {
    line-height: 26px;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;    
    margin-top: 0;
    margin-left: 363px;
    margin-right: 362px;
    padding-bottom: 46px;
    margin-bottom: 0;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.phone {
    line-height: 40px;
    font-weight: 400;
    font-size: 40px;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
    color: #000000;
}

.contacts-info:hover {
    color: #756157
}

.contacts-info:focus {
    color: #756157
}

.contacts-info:active {
    color: rgba(117, 97, 87, 0.3);
}


.inner-header {
    background-image: url("../images/cataloge/background-cataloge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: polygon(0 0, 100% 13%, 100% 84%, 0% 100%);  
    padding-top: 35px;
    padding-bottom: 70px;
}

.main-inner {
    background-color: #ffffff;
    margin: 0 auto;
}

.navigation-list {
    min-width: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 237px 0 30px

}

.navigation-user {
    display: flex;
    justify-content: start;
    min-width: 264px;
}

.head-container {
    display: flex;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

.page-container {
    margin: 0 auto;
}

.advantages {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.advantages-item {
    display: flex;
    justify-content: space-between;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 85px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 40px;
}

.contacts-link {
    display: block;
    background-size: 24px 14px;
    background-repeat: no-repeat;
    background-position: center;
    height: 44px;
    position: relative;
    background-image: url("../images/footer/HTML-Academy.svg");
}

.photo {
    display: flex;
    justify-content: space-between;   
}

.footer-social {
    display: flex;
    justify-content: center;

}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-welcome {
    padding-top: 51px;
}

.gorgeous {
    padding-top: 11px;
    padding-bottom: 63px;
}

.sedona {
    padding-bottom: 83px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0 0 40px 72px;
    padding: 0;
}

.breadcrumbs-wrapper {
    margin-right: 1017px;
    margin-left: 72px;
    margin-top: 0;
    padding-right: 10px;
    margin-bottom: 40px;
}

.breadcrumbs-item {
    padding-right: 10px;
    margin: 0;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-group {
    margin-right: 70px;
    padding: 0;
    border: 0;
}

.find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1057px;
    margin: 0px 0px 56px 0px;
}

.wrapper-breadcrumbs {
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
}

.catalog-filter-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 70px 0px 70px;
}

.wrapper-for-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    height: 384px;
}

.advantages-list {
    margin: 0 auto;
    padding: 0;
}

.follow-form {
    display: flex;
    justify-content: center;
    height: 60px;
}

.catalog-filter-button {
    display: flex;
    flex-direction: column; 
    margin-top: 60px
}

.button-use {
    background-color: #82B3D3;
    text-align: center;  
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:4px;    
    min-width: 160px;
    padding: 14px 15px 15px 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.button-reset {
    background: none;
    border: 0;
    text-align: center;  
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    fill: #000000;
}
.catalog-product-filters {
    width: 287px;
    margin: 0 70px 0 105px;
    padding: 0;
    border: 0;
    color: #ffffff;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:hover {
    /*тени*/
}

.range-toggle:focus {
    border: 3px solid #83B3D3;
    /*тени*/
}

.range-toggle:active {
    border: 2px solid #83B3D3;
    /*тени*/
}

.toggle-min {
    top: -8px;
    left: 0px;
}

.toggle-max {
    top: -8px;
    right: -11px
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 34px;
}

.range-input {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 14px 13px 19px;
    font: inherit;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    appearance: textfield;
}

.range-input:hover {
    /*Узнать как*/
}

.range-input:focus {
   /*Узнать как*/
}

.range-input:active {
    /*Узнать как*/
}

.range-input.left {
    border-radius: 4px 0px 0px 4px;
}

.range-input.right {
    border-radius: 0px 4px 4px 0px;       
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.button {
    display: inline-block;
    box-sizing: border-box;
    font-family: inherit;
    border: none;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

.button-type-2:hover {
    background-color: #68A2CA;
  }
  
  .button-type-2:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .button-type-2:focus {
    background-color: #68A2CA;
  }
  
  .button-type-2:disabled {
    background-color: #E5E5E5;
  }
  
  .aside-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 94px 0 94px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    width: 100%;
  }
  
  .subscription-title-footer {
    margin: 0;
    margin-bottom: 29px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .subscription-subtitle-footer {
    margin: 0;
    margin-bottom: 46px;
    padding-left: 40px;
    padding-right: 40px;
    width: 475px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
  }
  
  .follow-form {
    display: flex;
    justify-content: center;
  }
  
  .submit-follow {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    min-width: 200px;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .field {
    font-family: inherit;
    font-size: 18px;
    padding: 20px 22px 20px;
    line-height: 21px;
    font-weight: 400;
    background-color: #F2F2F2;
    border: none;
    min-width: 560px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .field:hover,
  .field:focus {
    outline: none;
    box-shadow:inset 0 0 0 2px #68A2CA;
  }
  
  .field:active {
    box-shadow:inset 0 0 0 2px #000000;
  }
  
  .field:disabled {
    box-shadow:inset 0 0 0 2px rgba(0, 0, 0, 0.3);
  }