@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 21px;
    background-color: #ffffff;
    color: #242424;
}
.page-header {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
.navigation-link {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}
.navigation-link-current {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    text-decoration: underline;
    text-transform: capitalize; 
}
.page-header {
    background-image: url("../images/index/index-background.jpg");
    background-color: blue;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-clip: polygon(0 0, 100% 13%, 100% 84%, 0% 100%);
    text-align: center;
}
.decoration 
img{
    background-size: 100% auto;
}
.slogan {
    text-align: center;
}
.slogan 
h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.slogan 
p {
    line-height: 26px;
    font-size: 22px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none; 
}

.advantages-title {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;    
}
.enumeration {
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.advantages-item {
    
}
.advantages-item
.blue {
    background-color: #82B3D3;
    color: #ffffff;
}
.advantages-item
.blue12 {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000; 
}
.advantages-item
.blue20 {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000; 
}
.more {
    text-align: center; 
}
.more 
h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
.more 
p {
    line-height: 26px;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    text-decoration: none;   
}
.more 
a {
    background-color: #756157;
    text-align: center;  
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;
    Width: 574px;
    Height: 60px;      
    text-transform: uppercase; 
}
.inner-header-title {
    line-height: 78px;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;    
}
.breadcrumbs-link-current {
    line-height: 21px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;   
}
.catalog-filter-title {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;  
    text-transform: capitalize;  
}    

.control {
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;    
}
.find-hotel {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color:#000000;
    text-align: center;
}
.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
}
.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;  
    text-decoration: none;
}
.product-card-subtitle, 
.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;  
    text-decoration: none;
}
.product-card-button-more {
    background-color: #756157;
    text-align: center;  
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;
    Width: 110px;
    Height: 20px;      
    text-transform: uppercase; 
}
.product-card-button-favorites {
    background-color: #82B3D3;
    text-align: center;  
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;
    Width: 110px;
    Height: 20px;      
    text-transform: uppercase;     
}
.product-card-button-favorites.current {
    background-color: #7DB54F; 
}
.top {
    background-color: #F2F2F2;
    text-align: center;  
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    border-radius:4px;
    Width: 140px;
    Height: 37px;      
    text-transform: uppercase;     
}
.pagination-link {
    background-color: #82B3D3;
    text-align: center;  
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius:4px;
    Width: 60px;
    Height: 60px;      
    text-transform: uppercase;      
}
.pagination-link.pagination-current {
    background-color: #F2F2F2;  
    color: #000000;  
}
.number-of-hotels, .select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;  
    color: #333333;
}
.aside-footer {
    background-color: #ffffff;
    text-align: center;  
    color:#000000; 
    text-decoration: none;     
}
.aside-footer
.background-footer {
    background-image: url("../images/footer/background-footer.jpg");
    background-repeat: no-repeat; 
    background-size: 100%;
    text-align: center;   
    color: #ffffff;
}
.aside-footer 
h3 {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
}
.aside-footer 
p {
    line-height: 26px;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;    
}
.submit {
    background-color: #82B3D3;
    text-align: center;  
    line-height: 36px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius:0 10px 10px 0;
    Width: 200px;
    Height: 60px;         
}
.mail {
    background-color: #F2F2F2;
    line-height: 21px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    border-radius:10px 0px 0px 10px;  
    Width: 600px;
    Height:60px;   
}
.page-footer {
    text-align: center;
}
.phone {
    line-height: 40px;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
}
.inner-header {
    background-image: url("../images/cataloge/background-cataloge.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-clip: polygon(0 0, 100% 13%, 100% 84%, 0% 100%);    
}
.main-inner {
    text-align: center;    
}
.page-container {
    flex-grow: 1;
}
.navigation {
    display: flex;
    width: 1200px;
    margin: 0;
    padding: 0;
}
.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 490px;
}
.navigation-user {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 300px;
    margin-left: auto;

}
.head-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.logo {
    display: block;
    margin: 0 auto;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}
.advantages {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 85px;
    width: 1200px;
}
.advantages-item {
    width: 400px;
}
.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 85;
}